.App {
  text-align: center;
  background-color: white;
}



.pad-keys{
  color:red;
  animation: blink 1s;
}
@keyframes blink {
  0%{
    background-color: red;
  }
  100%{
    background-color: black;
  }
}

/*#id{
  display: grid;
  grid-template-areas:
  "toggle . . . . slider"
  "display display display display display slider"
  ". . . . . slider";
}*/
