.App {
  text-align: center;

.btn{
    border-radius: 10%;
    height: 5rem;
    width: 5rem;
}

#pad{
    //width: 20rem;
    margin:0;
    padding:0;
}

//kk
  .pad-keys {
    color: red;
    animation: blink 1s;
  }
  @keyframes blink {
    0% {
      background-color: red;
    }
    100% {
      background-color: black;
    }
  }
}
