@use './variables';
$bgcolor:'background-color';

.App {
  background-color: variables.$theme-color;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: variables.$theme-color;
  height: 100vh;

  //PRESENTATIONAL
  #wrapper{
    opacity: 1;
    #quote-box{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: fit-content;
      width: fit-content;
      min-height:fit-content;
      min-width: 20rem;
      max-width: 20rem;
      //border:solid yellow;
      border-radius: 1%;
      background-color: white;
      
      #text{
        align-self: center;
        height: fit-content;
        min-width: 80%;
        max-width: 80%;
        margin-top:1rem;
        //border:dotted variables.$red-color;
        color:variables.$theme-color;
      }
      #author{
        display:flex;
        justify-content: end;
        align-self: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
        min-width: 80%;
        max-width: 80%;
        //border:dotted red;
        color:variables.$theme-color;
      }
      #footer-row{
        display: flex;
        justify-content: space-between;
        align-self: center;
        width:80%;
        //margin-top: 1rem;
        margin-bottom: 1rem;
        //border:dotted blue;
        div{
          display: flex;
          justify-content: start;
          #tweet-quote{
            button{
              color:white;
              background-color:variables.$theme-color;
              margin-right:0.18rem;
            }
          }

            #tumblr-quote{
              button{
                color:white;
                background-color:variables.$theme-color;
              }
            }
          }
      }
        #new-quote{
          justify-self: end;
          color:white;
          background-color:variables.$theme-color;;
        }
      }
    }
  }
  
  



.color-change{
  background-color:rgb(204, 207, 53)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
