**/.DS_Store
**/node_modules
**/Cg9291.github.io
**/Timer-App
**/portfolio-index
**/Random-Quote-Generator
**/Music_Box
**/Twitter-Clone
**/Main_Folder/MY_PROJECTS/Pokedex
**/Main_Folder/MY_PROJECTS/Portfolio
**/Main_Folder/MY_PROJECTS/twitter_clone
**/Awesome-CV
**/.env
**.env
.env
