@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Regular.80fda27a.woff2") format("woff2");
	font-weight: 400;//regular
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Medium.f8e2739a.woff2") format("woff");
	font-weight: 500//medium;
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Bold.ebb56aba.woff2") format("woff2");
	font-weight: 700;//bold
}

@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Heavy.f44ae4ea.woff2") format("woff2");
	font-weight: 900//heavy;
}
@font-face {
	font-family: "chirp";
	src: url("./assets/fonts/Chirp-Light.3a18e64a.woff2") format("woff2");
	font-weight: 300;//light
}


:root {
	--header-height: 107px;
	--tweet-box-height: 188px;
	--main-border-style: 1px solid rgb(239, 243, 244);
}

::placeholder {
	color: #536471;
}

section,
div,
p,
img,
ul,
ol,
li {
	margin: 0;
	padding: 0;
}

.alignment-boxes {
	flex: 1 1 50%;
	height: 100%;
	margin: 0;
	padding: 0;

	@media screen and (width>=500px) {
		display: none;
	}
}

.hidden500 {
	display: none !important;
	@media only screen and (width>=500px) {
		display: flex !important;
	}
}

.hidden688 {
	display: none !important;
	@media only screen and (width>=688px) {
		display: flex !important;
	}
}

.hidden705 {
	display: none !important;
	@media only screen and (width>=705px) {
		display: flex !important;
	}
}

.hidden-More {
	display: none !important;
}

.wrappers {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.wrappers--flex {
	display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.wrappers--flex-column {
	display: flex;
	flex-direction: column;
}

.App {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: chirp;
	font-weight: light;

	@media only screen and (width>=500px) {
		flex-direction: row;
		overflow-x: scroll;
	}
}

.nav-container {
	z-index: 3;
	position: sticky;
	order: 2;
	display: flex;
	bottom: 0px;
	// /* margin: 0; */ commented out to prevent fixed position being pushed to top
	margin: 0;
	padding: 0;
	border-top: var(--main-border-style);
	min-height: 53.5px;
	max-height: 53.5px; //both heights required + purposefully diff from twitter actual height in order to avoid creating wrapper inside nav
	width: 100%;
	box-sizing: border-box;
	background-color: white;

	@media only screen and (width>=500px) {
		flex-direction: column;
		//top: -0.5px;
		flex: 1 0 auto;
		height: 100vh;
		max-height: 100vh;
		min-height: 100vh;
		width: 68px;
		border-top: 0;
		margin: 0;
		padding: 0 4px;
		order: unset;
		overflow-y: auto;
		justify-content: space-between;
		align-items: center;
		top: 0;
		overflow-x: hidden;
	}
	@media only screen and (width>=600px) {
		padding: 0;
		width: 88px;
		border: none;
	}

	@media only screen and (width>=688px) {
		width: 88px;
		flex: 1 1 auto;
		align-items: end;
		padding: 0 8px;
	}

	@media only screen and (width>=988px) {
		width: 68px;
		flex: 1 0 auto;
		align-items: end;
		//justify-content: end;
		overflow-y: hidden;
		padding: 0;
	}

	@media screen and (width>=1008px) {
		width: 88px;
		flex: 1 0 auto;
		overflow-y: hidden;
	}
	@media screen and (width>=1025px) {
		width: 96.5px;
		align-items: end;
	}
	@media screen and (width>=width>=1078px) {
		width: 88px;
		align-items: end;
		//background-color: red;
	}
	@media screen and (width>=1265px) {
		width: 275px;
		align-items: end;
		padding: 0;
		//box-sizing: border-box;
	}
}

.nav {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;

	@media only screen and (width>=500px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		/* height: 100vh; */
		margin: 0 0 4px 0;
		/* border:solid red */
	}
	@media only screen and (width>=600px) {
		box-sizing: border-box;
		width: 88px;
		padding: 0 8px;
	}

	@media only screen and (width>=688px) {
		padding: 0;
		width: 72px;
		/* align-self: flex-end; */
	}

	@media only screen and (width>=988px) {
		width: 60px;
		height: unset;
		padding: 0 4px;
		flex: 1 0 auto;
		box-sizing: content-box;
	}

	@media screen and (width>=1008px) {
		width: 88px;
		padding: 0 8px;
		box-sizing: border-box;
	}
	@media screen and (width>=1025px) {
		width: 88px;
	}

	@media screen and (width>=1265px) {
		width: 275px;
		max-width: 275px;
		padding: 0 8px;
		//margin-left:20.5px;
		//align-items: start;
	}

	&_twitter-logo-box {
		display: none;

		@media only screen and (width>=500px) {
			width: 100%;
			height: 56px;
			min-height: 56px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 2px 0;
			box-sizing: border-box;
		}

		@media screen and (width>=1265px) {
			justify-content: start;
			//padding-left: 12px;
		}
	}

	&_twitter-logo {
		display: flex;

		@media only screen and (width>=500px) {
			width: 50px;
			height: 30px;
			border-radius: 0;
			padding: 0;
			margin: 0;
			fill: rgb(29, 155, 240);
		}

		@media only screen and (width>=500px) {
			width: fit-content;
			//margin-left: -1.5px;
		}

		@media screen and (width>=1265px) {
			justify-content: start;
			padding-left: 11px;
		}
	}

	&_ul {
		display: flex;
		justify-content: space-evenly;
		align-items: end;
		list-style: none;
		margin: 0;
		padding: 0;
		height: 100%;

		@media only screen and (width>=500px) {
			width: 60px;
			height: 582.5px;
			flex-direction: column;
			align-items: center;
			margin: 2px 0 4px 0;
		}

		@media only screen and (width>=600px) {
			width: 100%;
		}
	}

	&_li {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 50.5px;

		@media only screen and (width>=500px) {
			height: 50.25px;
			padding: 4px;
		}

		@media only screen and (width>=688px) {
			margin: 0 0;
		}

		@media only screen and (width>=1265px) {
			padding: 4px 0;
		}
	}

	&_li--first-item {
		@extend .nav_li;

		@media only screen and (width>=500px) {
			/* margin-top: 0; */
		}
	}

	&_li--search-icon {
		@extend .nav_li;

		/* @media only screen and (width>=988px) {
			display: none;
		} */
	}

	&_li--hashtag-icon {
		@extend .nav_li;
		display: none;
		/*
		@media only screen and (width>=988px) {
			display: flex;
		} */
	}

	&_a {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;

		@media screen and (width>=1265px) {
			width: 100%;
			justify-content: flex-start;
			padding-left: 12px;
		}
	}

	&_a:focus {
		.nav_text {
			font-family: chirp;
			font-weight: bold;
		}

		g {
			fill: red;
		}

		svg:hover {
			fill: green;
		}
	}

	&_nav-icons {
		width: 26.25px;
		height: 26.25px;
		border-radius: 50%;
		padding: 12px 8px;
		overflow: visible;
		@media screen and (width>=1265px) {
			padding: 0;
			margin-right: 20px;
		}
	}

	&_nav-icons:active {
		background-color: lightgray;
	}

	&_text {
		display: none;

		@media screen and (width>=1265px) {
			display: flex;
			font-size: 20px;
			color: black;
			//margin-left:auto
		}
	}

	/* &_text--selected{
		@extend .nav_text;
		@media screen and (width>=1265px) {
			font-family: chirpBold;
		}
	} */
}

button:hover {
	background-color: #1d8ad3;
}

.wrappers2 {
	@media screen and (width>=500px) {
		display: flex;
		width: 100%;
		height: 52px;
		justify-content: center;
		align-items: center;
		margin: 4px 0;
	}

	@media screen and (width>=998px) {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	@media screen and (width>=1265px) {
		display: block;
		width: 100%;
	}

	@media screen and (height>=795px) {
		margin: 16px 0;
	}
}
.tweet-circular-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	box-sizing: border-box;
	height: 56px;
	width: 56px;
	aspect-ratio: 1/1;
	right: 20px;
	bottom: 73px;
	padding: 0;
	//border: solid red;

	@media screen and (width>=500px) {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		height: 52px;
		width: 60px;
		align-self: center;
		//aspect-ratio: 1/1;
		//margin: 16px 0px;
		padding: 0;
		box-sizing: border-box;
		right: initial;
		bottom: initial;
	}

	@media screen and (width>=600px) {
		//margin: 0 0;
	}

	@media screen and (width>=688px) {
		width: 88px;
		padding: 0;
		align-self: flex-end;
		box-sizing: border-box;
	}

	@media screen and (width>=988px) {
		width: 88px;
		padding: 0;
		align-self: flex-end;
		box-sizing: border-box;
	}

	@media screen and (width>=1008px) {
		width: 68px;
	}

	@media screen and (width>=1024px) {
		width: 88px;
	}

	@media screen and (width>=1265px) {
		width: 233.094px;
		margin-left: 0;
	}
}
.tweet-circular-btn-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: content-box;
	background-color: rgb(29, 155, 240);
	border-radius: 50%;
	box-shadow: 0px 1px 8px 1px rgba(101, 119, 134, 0.4);

	@media screen and (width>=500px) {
		display: flex;
		height: 52px;
		width: 52px;
		aspect-ratio: 1/1;
		// margin: 4px 0 4px 4px;
		//margin-bottom: 4px;
		box-shadow: none;
	}

	@media screen and (width>=1265px) {
		width: 100%;
		border-radius: 99px;
		text-decoration: none;
	}

	&_pill-btn-text {
		display: none;

		@media screen and (width>=1265px) {
			display: inline-block;
			color: rgb(255, 255, 255);
			font-size: 17px;
			font-family: chirp;
			font-weight: bold;
		}
	}
}

.write-tweet-icon {
	width: 24px;
	height: 24px;
	margin: 0;
	padding: 0;
	fill: white;
	position: absolute;
	@media screen and (width>=1265px) {
		display: none;
	}
}

.profile-wrapper {
	display: none;

	@media only screen and (width>=500px) {
		display: flex;
		min-height: 64px;
		width: 64px;
		//box-sizing: border-box;
		//padding: 4px;
		padding: 0;
		margin: auto 0px 12px 0px;
		padding-top: 8px;
		//align-self: center;
	}

	@media screen and (width>=688px) {
		width: 72px;
	}

	@media screen and (width>=988px) {
		width: 60px;
		padding: 0 4px;
		//box-sizing: border-box;
	}

	@media screen and (width>=1008px) {
		width: 88px;
		padding: 0 8px;
		box-sizing: border-box;
	}

	@media screen and (width>=1265px) {
		width: 275px;
		padding: 0 8px;
		box-sizing: border-box;
	}

	&_container {
		display: flex;
		height: 100%;
		width: 100%;
		padding: 12px;
		justify-content: center;
		align-items: center;
		//justify-self: center;
		box-sizing: border-box;
		@media screen and (width>=1265px) {
			justify-content: stretch;
			height: 65.06px;
		}
	}
	img {
		display: flex;
		width: 40px;
		aspect-ratio: 1/1;
		//aspect-ratio: 1/1;
		border-radius: 50%;
		//flex:0 0 auto;
	}

	&_user-info {
		display: none;
		@media screen and (width>=1265px) {
			display: flex;
			flex-direction: column;
			width: 176.25px;
			//flex:4 0 auto;
			padding: 0 12px;
			font-size: 15px;
			box-sizing: border-box;

			b {
				padding-bottom: 2px;
			}
			div {
				padding-top: 2px;
				color: #536471;
			}
		}
	}

	span {
		display: none;
		@media screen and (width>=1265px) {
			height: 100%;
			display: flex;
			box-sizing: border-box;
			padding: 4px 0px 0 2px;
			/* margin: 7.1px 0 0 1px; */
			font-size: 19px;
			align-items: start;
			letter-spacing: 1px;
			//flex:1 0 auto
		}
	}

	/* @media screen and(688px) {
		display: none;
	} */
}

#profile-pill:hover {
	background-color: rgba(220, 220, 220, 255);
}

.middle-container {
	width: 100%;
	position: relative;
	top: -0.5px;
	//height: auto;
	display: flex;
	flex-direction: column;
	z-index: 1;
	border-bottom: var(--main-border-style);

	//overflow-y: auto;

	@media only screen and (width>=500px) {
		flex-basis: 0 1 auto;
		width: 472px;
		height: max-content;
		position: sticky;
		top: unset !important;
		box-sizing: border-box;
		border-left: var(--main-border-style);
		border-right: var(--main-border-style);
	}

	@media only screen and (width>=600px) {
		width: 100%;
		flex: 1 1 auto;
		border-left: var(--main-border-style);
		box-sizing: border-box;
	}

	@media only screen and (width>=688px) {
		width: 600px;
		flex: 0 1 auto;
		border-right: var(--main-border-style);
	}

	@media only screen and (width>=988px) {
		flex: 0 0 auto;
	}
}

.header {
	position: sticky;
	display: flex;
	flex-direction: column;
	margin: 0;
	z-index: 1;
	padding: 0;
	height: var(--header-height);
	width: 100%;
	max-width: 100%;
	background-color: rgba($color: #ffffff, $alpha: 0.8);
	backdrop-filter: blur(10px);
	transition: top 0.16s;
	transition-timing-function: ease-in-out;
	transition-delay: 0ms;

	@media only screen and (width>=500px) {
		top: -0.5px !important;
	}

	@media only screen and (width>=600px) {
		top: unset;
	}

	@media only screen and (width>=688px) {
		max-width: 598px;
		box-sizing: border-box;
	}

	&_header-top {
		display: flex;
		height: 53px;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0;
		padding: 0 16px;
		box-sizing: border-box;

		@media only screen and (width>=500px) {
			width: 100%;
			justify-content: start;
			align-items: center;
		}
	}
	&_text-span {
		display: none;

		@media only screen and (width>=500px) {
			display: inline-block;
			font-family: chirp;
			font-weight: bold;
			font-size: 20px;
			//margin-left: 16px;
			font-weight: bold;
			color: #0f1419;
		}
	}
	&_profile-picture {
		margin-left: 0;
		margin-top: 10.5px;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		padding: 0;

		@media only screen and (width>=500px) {
			display: none;
		}
	}

	&_twitter-logo-box {
		height: 100%;
		//min-width: 24px;
		flex:1 0 auto;
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;

		@media only screen and (width>=500px) {
			display: none;
		}
	}

	&_twitter-logo {
		width: 24.391px;
		height: 53px;
		display: flex;
		padding: 0;
		margin: 0;
		flex: 1 1 auto;
		fill: rgb(29, 155, 240);

		@media only screen and (width>=500px) {
			display: none;
		}
	}

	&_header-bottom {
		height: 53px;
		display: flex;
		align-items: center;
		width: 100%;
		font-size: 15px;
		line-height: 20px;
		margin: 0;
		padding: 0;
		border-bottom: var(--main-border-style);
	}

	&_ul {
		display: flex;
		align-items: stretch;
		text-decoration: none;
		list-style: none;
		font-weight:500;
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0 0 0 0;
		font-size:15px;
		//flex:1 1 0;
		box-sizing: border-box;
		overflow-x: auto; //this allows for perfect alignment of the texts in this case
	}
	&_li {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: center;
		height: 100%;
		flex: 1 0 auto;
		font-size: 15px;
		letter-spacing: normal;
		padding: 0;
		margin: 0;
		box-sizing: border-box;
		text-size-adjust: 100%;
		//list-style-position: outside;
		//flex-basis: auto;
	}
	&_anchor {
		display: flex;
		align-items: center;
		height: 53px;
		width: 100%;
		margin: 0;
		padding: 0 16px;
		justify-content: center;
		flex-direction: column;
		outline-style: none;
		text-decoration: none;
		color: rgb(83, 100, 113);
		box-sizing: border-box;
		font-stretch: 100%;
		font-weight:400;
		line-height: 20px;
		text-align: start;
		flex:1 0 auto;
		div {
			font-family: chirp;
			font-weight: 500;
			line-height: 20px;
			display: block;
			box-sizing: border-box;
			font-size:15px;
			font-weight: 500;
			list-style-position: outside;
			overflow-wrap: break-word;
			text-align: start;

			//letter-spacing: 0.15px;
			//font-weight: normal;
		}
		.blue-focused-bar {
			display: none;
		}
	}
	&_anchor--clicked {
		@extend .header_anchor;
		flex-direction: column;
		padding: 16px 16px 0 16px;
		box-sizing: border-box;
		div {
			font-family: chirp;
			font-weight: 700;
			font-feature-settings: normal;
			font-optical-sizing:auto;
			font-kerning:auto;
			font-size: 15px;
			font-stretch: 100%;
			font-weight: 700;
			letter-spacing: normal;
			word-wrap:wrap;
			color: black;
			justify-self: center;
			@media screen and (width>=500px) {
				margin-top: 1px;
			}
		}
		.blue-focused-bar {
			display: inline-block;
			margin: auto 0 1px 0;
			justify-self: end;
			background-color: rgb(29, 155, 240);
			height: 4px;
			border-radius: 99px;
			border: none;

			@media screen and (width>=500px) {
				margin: auto 0 0 0;
			}
		}
	}

	a:active {
		background-color: lightgray;
	}
}

.timeline-wrapper {
	width: 100%;
	height: auto;
	padding: 0;
	z-index: 0;
	margin: 0;
}

.tweet-area {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 180px;
	margin: 0 0 0 0;
	padding: 4px 16px 0 16px;
	box-sizing: border-box;
	/* border-bottom: var(--main-border-style); */

	&_wrapper {
		@extend .wrappers--flex;
		padding: 0;
		box-sizing: border-box;
		height: 124px;
		//margin-bottom: 3px;
	}

	&_profile-image-box {
		height: 100%;
		width: 40px;
		margin: 0 12px 0 0;
		padding-top: 12px;
	}

	&_profile-img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		//margin:12px 12px 0 0 ;
		//padding: 4px 0;
	}

	&_tweet-input {
		appearance: none;
		background-color: rgba(0,0,0,0);
		color:rgb(15,20,25);
		width: 100%;
		height: 124px;
		display: block;
		padding: 18px 0 0 2px;
		box-sizing: border-box;
		border: none;
		font-size: 20px;
		font-family: chirp;
		font-weight: 400;
		font-optical-sizing: auto;
		resize: none;
		outline: none;
		font-feature-settings: normal;
		font-kerning: auto;
		font-stretch: 100%;
		letter-spacing: normal;
		text-rendering: auto;
		text-shadow: none;
		text-transform: none;
		word-wrap: wrap;
		line-height: normal;
		overflow-wrap: break-word;
	}

	&_icons-row {
		display: flex;
		height: 52px;
		margin: 0 0 0 52px;
		padding: 0 0 0 2px;
		justify-content: space-between;
		box-sizing: border-box;
	}

	&_ul {
		display: flex;
		flex: 0 1 33%;
		height: 100%;
		margin: 0;
		padding: 15px 0 0 0;
		box-sizing: border-box;
		list-style: none;
	}

	&_li {
		display: flex;
		height: 100%;
		width: 36px;
		justify-content: center;
		align-items: center;
		//border: 1px solid purple;
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	&_li--first-item {
		margin-left: -8px;
	}

	&_anchors {
		display: flex;
		width: auto;
		justify-content: start;
	}

	&_tweet-icons {
		width: 20px;
		aspect-ratio: 1/1;
		margin: 0;
		padding: 0;
		fill: rgb(29, 155, 240);

		&--light-icons {
			@extend .tweet-area_tweet-icons;
			fill: rgba(29, 155, 240, 0.5);
		}
	}

	&_wrapper--btn {
		@extend .wrappers--flex;
		flex: 0 1 33%;
		max-width: 89.83px;
		justify-content: end;
		align-items: end;
		margin-right: 2px;
	}
	&_pill-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: chirp;
		font-weight: bold;
		font-size: 15px;
		border-radius: 3rem;
		width: 77.83px;
		height: 36px;
		color: rgb(255, 255, 255);
		background-color: rgba(29, 155, 240, 0.5);
		margin: 0 0 0 0;
		padding: 0;
		border: none;
	}

	&_pill-btn-text {
		display: inline-block;
		color: rgb(255, 255, 255);
	}
}

.custom-containers-margin {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		width: 20px;
	}

	@media screen and (width>=1078px) {
		display: flex;
		width: 30px;
	}
}

.right-container {
	display: none;

	@media screen and (width>=688px) {
		position: sticky;
		top: 0;
		display: flex;
		width: auto;
		flex: 2 1 auto;
		flex-direction: column;
		overflow-x: hidden;
		scrollbar-width: none;
	}

	@media screen and (width>=988px) {
		width: 290px;
		flex: 0 0 auto;
		margin-right: 10px;
		//overflow-y: scroll;
		max-width: 290px;
		//padding-left: 1px;
		box-sizing: border-box;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.searchBar-wrapper {
	display: none;
	@media screen and (width>=988px) {
		position: sticky;
		top:0;
		display: flex;
		width: 290px;
		height: 44px;
		min-height: 44px;
		margin-bottom: 20px;
		box-sizing: border-box;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}
}

.searchBar {
	@media screen and (width>=988px) {
		width: 100%;
		height: 100%;
		border: none;
		border-radius: 99px;
		background-color: rgba(239, 243, 244, 255);
		margin-top: 4.5px;
		box-sizing: border-box;
		display: flex;
	}

	&_searchIcon-wrapper {
		min-width: 44px;
		max-width: 44px;
		//padding-left: 14px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: end;
	}

	&_search-icon {
		@extend .nav_nav-icons;
		height: 18.75px;
		width: 44px;
		margin: 0;
		margin-left: 14px;
		fill: rgb(83, 100, 113);
	}

	&_input {
		@extend .searchBar;
		margin: 0;
		outline: none;
		display: flex;
		padding: 2px 0 0 13px;
	}

	&_input::placeholder {
		font-size: 15px;
		text-align: left;
	}
}

.getVerified-wrapper {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex-direction: column;
		width: 290px;
		min-height: 126px;
		background-color: rgb(247, 249, 249);
		border: 1px solid white;
		//margin-top: 3px;
		margin-bottom: 14px;
		border-radius: 17px;
		//box-sizing: border-box;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}
}

.getVerified-container {
	display: flex;
	flex-direction: column;
}

.trending-wrapper {
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex-direction: column;
		width: 290px;
		min-height: 500px;
		background-color: rgb(247, 249, 249);
		border: 1px solid white;
		//margin-top: 4.5px;
		margin-bottom: 16px;
		border-radius: 17px;
		box-sizing: border-box;
	}

	@media screen and (width>=1078px) {
		max-width: 350px;
		width: 350px;
	}

	&_cards-header {
		display: flex;
		align-items: center;
		height: 48px;
		font-size: 20px;
		font-family: chirp;
			font-weight: bold;
		width: 100%;
		width: 288px;
		padding: 12px 16px;
		box-sizing: border-box;
		span {
			border: none;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
	}

	&_cards {
		display: flex;
		flex-direction: column;
		width: 288px;
		height: 82px;
		padding: 12px 16px;
		box-sizing: border-box;

	}

	.thesec{
		color:black;
	}
	&_cards-footer {
		width: 288px;
		height: 52px;
		box-sizing: border-box;
		padding: 16px;
		a {
			color: rgb(29, 155, 240);
			text-decoration: none;
		}
	}
}

.follow-recommendations {
	width: 100%;
	display: none;
	@media screen and (width>=988px) {
		display: flex;
		flex-direction: column;
		background-color: rgb(247, 249, 249);
		border-radius: 17px;
	}

	&_cards-header {
		display: flex;
		align-items: center;
		height: 48px;
		font-size: 20px;
		font-family: chirp;
			font-weight: bold;
		width: 100%;
		width: 288px;
		padding: 12px 16px;
		box-sizing: border-box;
		span {
			border: none;
			margin: 0;
			padding: 0;
			box-sizing: border-box;
		}
	}

	&_cards {
		display: flex;
		width: 288;
		height: 72px;
		padding: 12px 16px;
		box-sizing: border-box;
	}

	&_cards-footer {
		width: 288px;
		height: 52px;
		box-sizing: border-box;
		padding: 16px;
		a {
			color: rgb(29, 155, 240);
			text-decoration: none;
		}
	}
}

.whiteSpace-right {
	display: none;
	@media screen and (width>=989px) {
		display: flex;
		flex: 1 0 auto;
	}

	@media screen and (width>=1008px) {
		display: flex;
		width: 0px;
		flex: 1 0 auto;
	}

	@media screen and (width>=1025px) {
		display: flex;
		width: 8.5px;
		flex: 1 0 auto;
	}

	@media screen and (width>=1078px) {
		width: 0px;
		//max-width: 0px;
		flex: 1 0 auto;
	}
}

/* //
		//gap: 1rem;
		//padding-left: 2rem;
		//border-left: 0.05rem solid rgba(220, 220, 220, 0.3);
		//flex: 0 0 37.2%;
		input {

			border-width: 0;
			border-radius: 3rem;
			width: 50%;
			height: 2.5rem;
			margin-top: 0.32rem;
		}
		::placeholder {
			padding-left: 2rem;
		}

		#trending-section {
			display: flex;
			justify-content: initial;
			flex-direction: column;
			width: 50%;
			height: 24rem;
			background-color: rgba(239, 243, 244, 255);
			border-radius: 5%;
			overflow: hidden;

			.cards-header {
				display: flex;
				font-size: 1.3rem;
				font-weight: bold;
				padding-left: 1rem;
				flex: 0 0 14%;
				align-items: center;
			}
			.cards {
				padding-left: 1rem;

				flex: 0 0 18%;
			}
			.cards:hover {
				background-color: rgba(220, 220, 220, 255);
			}
			.cards-footer {
				display: flex;
				align-items: center;
				flex: 0 0 14%;
				font-size: 1rem;
				padding-left: 1rem;
				a {
					text-decoration: none;
					color: #53b3f2;
				}
			}
			.cards-footer:hover {
				background-color: rgba(220, 220, 220, 255);
			}
		}

		#rec-follows-section {
			display: flex;
			justify-content: initial;
			flex-direction: column;
			width: 50%;
			height: 19.92rem;
			background-color: rgba(239, 243, 244, 255);
			border-radius: 5%;
			overflow: hidden;

			.cards-header {
				display: flex;
				font-size: 1.3rem;
				font-weight: bold;
				padding-left: 1rem;
				flex: 0 0 17%;
				align-items: center;
			}
			.cards {
				padding-left: 1rem;

				flex: 0 0 22%;
			}
			.cards:hover {
				background-color: rgba(220, 220, 220, 255);
			}
			.cards-footer {
				display: flex;
				align-items: center;
				flex: 0 0 17%;
				font-size: 1rem;
				padding-left: 1rem;
				a {
					text-decoration: none;
					color: rgba(48, 164, 241, 255);
				}
			}
			.cards-footer:hover {
				background-color: rgba(220, 220, 220, 255);
			}
		} */
