section, div, p, img, ul, ol, li {
  margin: 0;
  padding: 0;
}

#App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#App section {
  height: 100%;
}

#App #left-container {
  border: dotted green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  border-right: solid 0.01rem grey;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  font-family: 'Arimo', sans-serif;
  font-size: 1.5rem;
}

#App #left-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  width: 45%;
}

#App #left-container nav ul {
  list-style: disc inside;
}

#App #left-container nav ul #twitter-logo {
  width: 4rem;
  border-radius: 75%;
  margin-left: -1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

#App #left-container nav ul li {
  margin-bottom: 1rem;
}

#App #left-container nav ul button {
  border-width: 0;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 3rem;
  width: 14rem;
  height: 3.3rem;
  color: white;
  background-color: #1d9bf0;
}

#App #left-container #profile-pill-container {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-bottom: 1rem;
}

#App #left-container #profile-pill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: start;
  padding: 0.5rem 1rem 0.5rem 1rem;
  width: 14rem;
  height: 3.6rem;
  border-radius: 3.6rem;
  font-size: 1rem;
  overflow: hidden;
}

#App #left-container #profile-pill img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#App #left-container #profile-pill:hover {
  background-color: gainsboro;
}

#App #middle-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
}

#App #middle-container #timeline-div {
  height: 8rem;
}

#App #right-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
  border-left: solid 0.05rem grey;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  /*::placeholder{
        padding-left: 2rem;
      }*/
}

#App #right-container input {
  background-color: #eff3f4;
  border-width: 0;
  border-radius: 3rem;
  width: 50%;
  height: 2.5rem;
  text-indent: 1rem;
}

#App #right-container #trending-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 24rem;
  background-color: #eff3f4;
  border-radius: 5%;
  overflow: hidden;
  margin-top: 4rem;
}

#App #right-container #trending-section .cards-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#App #right-container #trending-section .cards {
  padding-left: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 18%;
          flex: 0 0 18%;
}

#App #right-container #trending-section .cards:hover {
  background-color: gainsboro;
}

#App #right-container #trending-section .cards-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 14%;
          flex: 0 0 14%;
  font-size: 1rem;
  padding-left: 1rem;
}

#App #right-container #trending-section .cards-footer a {
  text-decoration: none;
  color: #53b3f2;
}

#App #right-container #trending-section .cards-footer:hover {
  background-color: gainsboro;
}

#App #right-container #rec-follows-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 19.92rem;
  background-color: #eff3f4;
  border-radius: 5%;
  overflow: hidden;
}

#App #right-container #rec-follows-section .cards-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#App #right-container #rec-follows-section .cards {
  padding-left: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

#App #right-container #rec-follows-section .cards:hover {
  background-color: gainsboro;
}

#App #right-container #rec-follows-section .cards-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17%;
          flex: 0 0 17%;
  font-size: 1rem;
  padding-left: 1rem;
}

#App #right-container #rec-follows-section .cards-footer a {
  text-decoration: none;
  color: #30a4f1;
}

#App #right-container #rec-follows-section .cards-footer:hover {
  background-color: gainsboro;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
/*# sourceMappingURL=App.css.map */