html,body,section,div,header,img,footer,p,h1,h2,button{
  margin: 0;
  padding: 0;
}

body{
  background-color: green;
  display:flex;
  flex-direction: column;
}

h1{
  display: block;
  background-color: blue;
  text-align: center;
  height: fit-content;

}
#main-section{
  display: flex;
  align-items: center;
  background-color: red;
  height: 100vh;
  width: 100vw;
  border:dotted blue;
  #game-row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 30rem;
    border: solid yellow;
    #buttons {
      border: solid green;
      display: flex;
      flex-direction: column;
      
      justify-content: center;
      flex: 0 0 20%;
      button{
        font-size: 1.5vw;
        padding: 0.5rem;
        border-radius: 10%;
      };
      div{
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}


