*{//this is the universal selector..it selects and applies style to all elements/tags
  margin:0;
  padding:0
}
body {
  background-color: green;

  overflow-y: auto;
}

h1 {
  background-color: red;
  text-align: center;
  height: fit-content;
}

#main-section {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: red;

  #game-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .img {
      flex: 0 0 40%;
      height: 30rem;
    }
    #buttons {
      flex: 0 0 1fr;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      button {
        border-radius: 10%;
        padding: 0.5rem;
        font-size: 1.5vw;
      }
      div {
        margin-top: 1rem;
        display: flex;
        justify-content: space-evenly;
      }
    }
  }
}
