
.App {
  text-align: center;
  color: white;
  background-color: darkslategrey;
  //background-image: linear-gradient(darkblue,white);
  height:100vh;
  //border:solid red;
  padding-top: 20px;
  margin-top:0;
  min-height: 100vh;
  max-height: 100vh;
  //background-image: linear-gradient(blue, white);
  .labels{
    margin-bottom: 15px;
  }
  .settings-buttons{
    margin-bottom: 10px;
    width: 100px;
    border-radius: 1%;
  }
  .start-refresh-buttons{
    width: 50px;
    height: 50px;
  }
  #time-left{
    font-size: 120px;
  }
  #start-pause-refresh-buttons{
    width:200px;
    margin: auto;
    display: flex;
    margin-bottom: 60px;
    //justify-content: space-evenly;
    //border:solid white
  }
  #circle{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    font-size: 50px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    //border-color: darkgoldenrod;
    border-image:linear-gradient(red,yellow);
    border-image-slice: 30%;
    background-color: rgba(0, 0, 0, 0);
  }
  button{
    margin: auto;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-width: 0;
    box-shadow: 1px 1px 5px 1px white,-1px -1px 5px white,-1px 1px 5px white,1px -1px 5px white;
    color:white;
    //background-image: linear-gradient(red, yellow)
    background-color: darkblue;
  }
}

#start_stop{
  width: 75px;
  height: 75px;
}
#reset{
  width: 75px;
  height: 75px;
}
#session-increment,#break-increment{
  background-color: darkgreen;
}
#session-decrement,#break-decrement{
  background-color: darkred;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media(max-width:390px){
  
  button{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: blue;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
